[package]
name = "wala"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tiny_http = "^0.7.0"
env_logger = "^0.9"
log = "^0.4"

[dependencies.pgp]
version = "^0.7.2"
optional = true

[features]
pgpauth = ["pgp"]
